<html>

  <head>
    <title><%= r.name%></title>
    <style> 
      img {
        width: 100%;
        height: auto;
      }
    </style>
    <script>
      function goBack() {
        window.history.back();
      }
    </script>
  </head>

  <body>
  <form action="/update-logic" method="post" enctype="multipart/form-data"  style="width:100%">
  <input type='hidden' name='_id' value="<%= r._id%>">
  <p>
<label>Name</label>
  <input required="" name="name" type="text" value="<%= r.name %>">
</p>
  <p><label>Borough</label>
  <input name="borough" type="text" value="<%= r.borough %>">
  </p>
  <p><label>Cuisine</label>
  <input name="cuisine" type="text" value="<%= r.cuisine %>">
  </p>
  <p><label>Street</label>
  <input name="street" type="text" value="<%= r.address.street %>">
  </p>
  <p><label>Building</label>
  <input name="building" type="text" value="<%= r.address.building %>">
  <p>
  <p><label>Zipcode</label>
  <input name="zipcode"  type="text" value="<%= r.address.zipcode%>">
  </p>
  <p>
  </p><p><label>GPS Coordinates (lat.)</label>
  <input name="lat"  type="text" value="<%= r.address.coord[0] %>">
  </p>
  <p><label>GPS Coordinates (lon.)</label>
  <input name="lon" type="text" value="<%= r.address.coord[1] %>">
  </p>
  <p><label>Photo</label>
  <% if (r.photo){ %>
    <img src="data:<%= r.photo_mimetype %>;base64, <%= r.photo %>">
  <% } %> 
  <input name="photo" type="file" accept="image/*">
  </p>
  <input type='submit' value='Change'>
</form>


<!--     Click button -> go to different page
    Think about the params  -->
   
  </body>

</html>